@page
@model TitanHelp_Demo.Pages.TestModel

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.TicketPriority" class="control-label"></label>
                <select asp-for="Ticket.TicketPriority" class="form-control"></select>
                <span asp-validation-for="Ticket.TicketPriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Content" class="control-label"></label>
                <input asp-for="Ticket.Content" class="form-control" />
                <span asp-validation-for="Ticket.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CreationDT" class="control-label"></label>
                <input asp-for="Ticket.CreationDT" class="form-control" />
                <span asp-validation-for="Ticket.CreationDT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CreatorId" class="control-label"></label>
                <input asp-for="Ticket.CreatorId" class="form-control" />
                <span asp-validation-for="Ticket.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ticket.IsOpen" /> @Html.DisplayNameFor(model => model.Ticket.IsOpen)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
