@page "/ATT"
@using Models;
@using Data;
<!-- Injecting the Entity Framework Context-->
@inject TicketsContext _context;
<h3>AllTickets Test</h3>


@foreach (Models.Ticket t in _context.Tickets)
{// Here we're looping through all the tickets in the context on page generation to show all the tickets
<div>
    <h1>@t.Title</h1>  <!-- The ticket's Title-->
    <h2>@t.CreationDT</h2> <!-- Date Time-->
    <h2>By: @CreatorIDToUsername(t.CreatorId)</h2> <!-- Name-->
    <p>@t.Content</p> <!-- And the Content -->
</div>

}

@code {
    // All the code we needed is a simple thing to resolve user names from IDs
    public string CreatorIDToUsername(int id)
    {//So we do a quick sequential search for the user
        foreach (User u in _context.Users)
        {
            if (u.UserID == id)
                return u.ScreenName;
        }
        return "Anonymous"; // And if that doesn't work we'll just call them anonymous since we probably defaulted to id 0 from the creation page.
    }


}
